<!DOCTYPE html>
<!-- [if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif] -->
<!-- [if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif] -->
<!-- [if gt IE 9]><! -->
<html class="h-full no-js no-svg" {{ site.language_attributes }}>
    <!-- <![endif] -->
    {% include 'html-header.twig' %}

    <body class="{{ body_class }} h-screen flex flex-col"
        data-template="base.twig">
        {% include './layout/header.twig'}
        <main id="content" class="container px-4 content-wrapper">
            {% if title %}
                <h1>
                    {{ title }}
                </h1>
            {% endif %}
            <div class="wrapper {{ sidebar_class }}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{ sidebar }}
                </aside>
            {% endif %}
        </main>

        {% block footer %}
            <footer id="footer" class="block mt-auto bg-pink-500">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
